nav ul{
    list-style-type:none;
    display:flex;
    padding:1em 0;
    font-family: 'Museo Sans Rounded 300', 'Gill Sans';
    background-color: #000;
}
nav a{
    text-decoration:none;
    color:#FFF;
    margin: 0 15px;
}
.nav__topUl{
    padding: 0.5em 0;
    color: white;
    font-size: 30px;
    justify-content: flex-end;
}
.nav__bottomUl{
    border-top:solid 1px #a391617a;
    justify-content: center;
}
.current{
    color: #a39161;
}