.categoryList{
    display: flex;
    max-width: 1920px;
    margin: 2em auto 5em;
    padding: 0 2%;
    font-family: 'Museo Sans Rounded 500';
    font-style: normal;
}

/*---------------------------------VENSTRE SIDE---------------------------------*/
html {
    scroll-behavior: smooth;
}
.options{
    flex: 3;
}
.amplifiers a, .shopby a{
    display: block;
    color: rgb(179, 162, 125);
    text-decoration: none;
    padding: 3px 0;
    font-size: 14px;
}
.amplifiers{
    padding: 20px;
    background-color: rgb(228, 228, 228);
    margin-bottom: 20px;
}
.shopby{
    padding: 20px;
    background-color: rgb(228, 228, 228);
}
.headText{
    padding-bottom: 1em;
    color: rgb(179, 162, 125);
    font-size: 18px;
    font-weight: bold;
    cursor: default;
}
.shopby a{
    color: rgb(179, 162, 125);
    font-size: 0.8em;
    padding: 0.3em;
    cursor: pointer;
}
.shopby p{
    color: #000 !important;
    font-family: "Museo Sans Rounded 700";
    cursor: default;
    margin: 1em 0;
    font-size: 0.9em;
}
.products__productName{
    text-transform: uppercase;
}
.amphead{
    font-size: 0.85em;
    color: rgb(117, 104, 76);
}
.amphead > p{
    color: rgb(179, 162, 125);
    padding: 4px 0;
    padding-left: 5%;
}
/*---------------------------------MIDTEN---------------------------------*/

.categories{
    flex: 9;
    padding: 0px 20px;
}
.headCategory{
    background-color: rgb(228, 228, 228);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
select#number{
    margin-left: 1em;
}
select#sorting{
    margin: 0 1em;
    width: 55px;
}
#sorting option{
    padding: 0.3em 0;
}
.items{
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}
.view img{
    width: 1em;
    margin-left: 10px;
}
.right{
    align-items: center;
    display: flex;
}
.left{
    align-items: center;
    display: flex;
}
.headerText{
    font-size: 20px;
    margin-bottom: 20px;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 40px 10px;
    text-align: center;
}
.product{
    display: grid;
    grid-template-rows: auto;
}
.product p{
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
}
p.price{
    font-size: 16px;
    padding: 20px 0 30px;
    color: rgb(179, 162, 125);
}
.oldPrice{
    color: rgb(172, 172, 172);
    text-decoration: line-through;
    padding-right: 10px;
}
.product img{
    width: 100%;
    align-content: center;
    margin: 20px 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.product a{
    padding: 8px 16px;
    background-color: rgb(179, 162, 125);
    text-decoration: none;
    color: white;
    margin: 0 auto;
    width: 70%;
}

/*---------------------------------HØJRE SIDE---------------------------------*/

.manufacturer{
    flex: 3;
}
p.diffText{
    color: rgb(179, 162, 125);
}
.manufacturer p{
    font-size: 14px;
}
.normalText p{
    padding: 10px 5px;
}
.manufacturer a{
    text-decoration: none;
    color: rgb(179, 162, 125);
}
@media only screen and (max-width: 840px){
    .left{
        flex-direction: column;
        align-items: flex-start;
    }
    .right{
        flex-direction: column;
        align-items: flex-end;
    }
    .items{
        margin-right: 0;
    }
    .right form{
        margin-top: 0.5em;
    }
    p.view{
        margin-top: 0.5em;
    }
}
@media only screen and (max-width: 650px){
    .headCategory{
        flex-direction: column;
    }
    .right{
        align-items: flex-start;
        margin-top: 1em;
    }
}