/* Imports fonts */
@import './fonts.css';
/* Import rest of stylesheets below here */
@import './brands.css';
@import'./product_view.css';
@import './home.css';
@import './products.css';
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
