/* Imports fonts */
@import './fonts.css';
/* Import rest of stylesheets below here */
    


/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}